.footer {
    background-color: #1976d2;
    min-height: 8rem;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 400;
    color: aliceblue;
}
.footer .mail{
    margin: auto 0.3rem;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}