.quizPage {
    height: 70vh;
}

.quizPage h2::after {
    content: "";
    width: 70%;
    height: 4px;
    border-radius: 2px;
    background-color: #e51d74;
    margin-top: 1rem;
}

.progressInfo {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 1rem auto 0;
}

.info {
    display: flex;
    justify-content: space-between;
}