.quizPage {
    height: 70vh;
    background-image: url('../../assets/images/quizbg2.jpg');
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 3rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}

.quizPage h2::after {
    content: "";
    width: 70%;
    height: 4px;
    border-radius: 2px;
    background-color: #e51d74;
    margin-top: 1rem;
}

.progressInfo {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 1rem auto 0;
}

.info {
    display: flex;
    justify-content: space-between;
}